<a href="https://colab.research.google.com/github/Sangeetha792001/Assignment3/blob/main/Copy_of_Copy_of_DA_Assignment_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there sam!"
print (s.split())

['Hi', 'there', 'sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742
print ('the diameter of{} is {} kilometers' .format(planet,diameter))

the diameter ofEarth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [17]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]  
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [5]:
#tuple are immutable byut list are mutable
#tuples are denoted in () and list are denoted as []

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [8]:


def domainGet(email):
  print("your domain is:"+ email.split('@')[-1])
email=input("please enter your email:>")

please enter your email:>user@domain.com

In [9]:
domainGet('user@domain.com')

your domain is:domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [10]:
def findDog(st):
  if'dog' in st.lower():
    print("true")
  else:
    print("false")
st="is there a dog here?"
findDog(st)

true

In [11]:
findDog('is there a dog here?')

true

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [12]:
value='This dog runs faster than the other dog dudel';
def countdogs(value):
  count=0
  for word in value.lower().split():
    if word =='dog' or word =='dogs':
      count=count+1
      print(count)
countdogs(value)

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [13]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [14]:
employee=[400,500,550,600,750]
sum=0
print("salaryof 1st person is",employee[0])
print("salaryof 2nd person is",employee[1])
print("salaryof 3rd person is",employee[2])
print("salaryof 4th person is",employee[3])
print("salaryof 5th person is",employee[4])
for x in employee:
  sum=sum+x
print("The total salary is",sum)

salaryof 1st person is 400
salaryof 2nd person is 500
salaryof 3rd person is 550
salaryof 4th person is 600
salaryof 5th person is 750
The total salary is 2800

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [16]:
d1={'Empid':1,'Empname':"abc",'basicpay':10000}
d2={'Deptname':'cse','Deptid':2}
print({**d1,**d2})

{'Empid': 1, 'Empname': 'abc', 'basicpay': 10000, 'Deptname': 'cse', 'Deptid': 2}